.spacer {
  flex: 1 1 auto;
}

.lang-select {
  font-size: medium;
}

.mat-toolbar {
  position: fixed; /* Set the navbar to fixed position */
  z-index: 1;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

// // Disable bottom line of select
// ::ng-deep .mat-form-field-underline {
//   display: none;
// }
