@import "~@angular/material/theming";
.wrap {
  top: 100px;
  height: 100%;
  position: relative;
}
.sidebar {
  height: 85%;
  left: 15px;
  width: 35%;
  // position: fixed;
  border: royalblue;
  border-width: medium;
  border-style: solid;
}
.map-container {
  height: 60%;
  border: lime;
  border-width: medium;
  border-style: solid;
}
#map {
  height: 100%;
}
.card {
  @include mat-elevation(10);
}

.filter-container {
  padding: 15px;
  border: orangered;
  border-width: medium;
  border-style: solid;
}
.result-container {
  top: 100px;
  margin-left: 37%; /* Same as the width of the sidebar */
  margin-right: 15px;
  padding: 0px 10px;
  border: royalblue;
  border-width: medium;
  border-style: solid;
}
