@import "~@angular/material/theming";

.wrap {
  top: 10%;
  height: 90%;
  width: 100%;
  position: absolute;
}
.sidebar {
  height: 85%;
  left: 3%;
  width: 35%;
  position: absolute;
  // border: royalblue;
  // border-width: medium;
  // border-style: solid;
}
.map-container {
  height: 55%;
  // border: #795548;
  border-width: medium;
  border-style: solid;
}
#map {
  height: 100%;
}
.card {
  @include mat-elevation(10);
}

.results-card {
  height: 95%;
  position: relative;
  overflow: hidden;
}
.filter-card {
  max-width: 400px;
  flex-grow: 2;
}
.filter-card-content {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.filter-container {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  // border: orangered;
  // border-width: medium;
  // border-style: solid;
}
.result-container {
  position: relative;
  left: 40%; /* Same as the width of the sidebar */
  width: 57%;
  height: 90%;
  padding: 15px;

  overflow: auto;
}

.results-card-content {
  overflow: auto;
  max-height: 85%;
}

.results-card-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
