<div class="wrap">
  <div class=sidebar>
    <div class="map-container">
      <div id="map"></div>
    </div>

    <div class="filter-container">
      <mat-card class="card filter-card">
        <mat-card-header>
          <mat-card-title>Filtrar incidentes</mat-card-title>
        </mat-card-header>
        <mat-card-content class="filter-card-content">

          <mat-form-field appearance="fill">
            <mat-label>Versión del cuestionario</mat-label>
            <mat-select [(ngModel)]="filterValues.version" value="all">
              <mat-option value="all">Todas las versiones</mat-option>
              <mat-option *ngFor="let version of reportVersions" value="{{version._id}}">{{version.createdAt}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fecha inicio</mat-label>
            <input [(ngModel)]="filterValues.startDate" matInput [matDatepicker]="pickerStart">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fecha fin</mat-label>
            <input [(ngModel)]="filterValues.endDate" matInput [matDatepicker]="pickerEnd">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>


          <mat-slide-toggle [(ngModel)]="filterValues.place.enabled" (change)="placeToggleChanged($event)">Lugar
            de incidencia</mat-slide-toggle>
          <p *ngIf="filterValues.place.enabled && filterValues.place.radius">
            Radio de {{filterValues.place.radius}}m.
          </p>
          <button mat-raised-button color="primary" (click)="getFilteredIncidents()">Ok!</button>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="result-container">
    <mat-card class="card results-card" *ngIf="incidents.length > 0">
      <mat-card-title style="text-align: center;">
        Incidentes reportados
      </mat-card-title>

      <mat-card-content class="results-card-content">
        <ng-container *ngIf="incidents.length > 0">
          <h2>Colectivos a los que pertenece el usuario</h2>
          <ul>
            <ng-container *ngFor="let col of incidents[selectedIncident].userCol">
              <ng-container *ngIf="col != 'all'">
                <li>{{getColectiveString(col)}}</li>
              </ng-container>
            </ng-container>
          </ul>

          <h2>Momento en el que fue registrado el incidente</h2>
          <p>{{getDateString(incidents[selectedIncident].createdAt)}}</p>

          <h2>Cuestionario del incidente</h2>
          <div class="questionnaire">
            <ng-container *ngFor="let ans of incidents[selectedIncident].answers">
              <ng-container *ngIf="ans.answer">
                <p><strong>{{getQuestionString(ans._id, true)}}</strong></p>
                <ng-container [ngSwitch]="ans.questionType">
                  <p *ngSwitchCase="'datetime'">{{getDateString(ans.answer)}}</p>
                  <p *ngSwitchCase="'likert'">{{getClosedAnswerString(ans.answer, ans._id, true)}}</p>
                  <p *ngSwitchCase="'yesno'">{{getClosedAnswerString(ans.answer, ans._id, true)}}</p>
                  <p *ngSwitchCase="'radio'">{{getClosedAnswerString(ans.answer, ans._id, true)}}</p>
                  <p *ngSwitchCase="'multiselect'">{{getClosedAnswerString(ans.answer, ans._id, true)}}</p>
                  <ng-container *ngSwitchCase="'colective'">
                    <ul>
                      <ng-container *ngFor="let col of ans.answer">
                        <ng-container *ngIf="col != 'all'">
                          <li>{{getColectiveString(col)}}</li>
                        </ng-container>
                      </ng-container>
                    </ul>
                  </ng-container>
                  <p *ngSwitchDefault>{{ans.answer}}</p>
                </ng-container>
              </ng-container>
            </ng-container>

            <h2>Cuestionario del usuario</h2>
            <ng-container *ngFor="let ans of incidents[selectedIncident].userAnswers">
              <ng-container *ngIf="ans.answer">
                <p><strong>{{getQuestionString(ans._id, false)}}</strong></p>
                <ng-container [ngSwitch]="ans.questionType">
                  <p *ngSwitchCase="'datetime'">{{getDateString(ans.answer)}}</p>
                  <p *ngSwitchCase="'likert'">{{getClosedAnswerString(ans.answer, ans._id, false)}}</p>
                  <p *ngSwitchCase="'yesno'">{{getClosedAnswerString(ans.answer, ans._id, false)}}</p>
                  <p *ngSwitchCase="'radio'">{{getClosedAnswerString(ans.answer, ans._id, false)}}</p>
                  <p *ngSwitchCase="'multiselect'">{{getClosedAnswerString(ans.answer, ans._id, false)}}</p>
                  <ng-container *ngSwitchCase="'colective'">
                    <ul>
                      <ng-container *ngFor="let col of ans.answer">
                        <ng-container *ngIf="col != 'all'">
                          <li>{{getColectiveString(col)}}</li>
                        </ng-container>
                      </ng-container>
                    </ul>
                  </ng-container>
                  <p *ngSwitchDefault>{{ans.answer}}</p>
                </ng-container>
              </ng-container>
            </ng-container>

          </div>

        </ng-container>
      </mat-card-content>
      <mat-card-footer class="results-card-footer">
        <mat-paginator [pageIndex]="selectedIncident" hidePageSize="true" [length]="incidents.length" pageSize="1"
          (page)="onPageChange($event)">
        </mat-paginator>
        <button mat-raised-button color="primary">Descargar .csv</button>
      </mat-card-footer>

    </mat-card>
  </div>
</div>
