@import "~@angular/material/theming";
.wrap {
  top: 100px;
  height: 100%;
  position: relative;
}
.sidebar {
  height: 85%;
  margin-left: 3%;
  width: 35%;
  position: fixed;
  // border: royalblue;
  // border-width: medium;
  // border-style: solid;
}
.map-container {
  height: 55%;
  border: blue;
  border-width: medium;
  border-style: solid;
}
#map {
  height: 100%;
}
.card {
  @include mat-elevation(10);
}

.filter-card-content {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.filter-container {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  // border: orangered;
  // border-width: medium;
  // border-style: solid;
}
.result-container {
  top: 100px;
  margin-left: 40%; /* Same as the width of the sidebar */
  margin-right: 2%;
  padding: 0px 10px;
}
