@import "~@angular/material/theming";
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.new-colective {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: baseline;
}

.button {
}

.card {
  min-width: 50%;
  max-width: 75%;
  @include mat-elevation(10);
}

mat-card-title {
  text-align: center;
}
