.mat-form-field {
  display: block;
}
.question-extras {
  display: flex;
}

.question-options {
  background-color: #cdd9f6;
  width: 30%;
}
.question-answers {
  background-color: #ab8878;
  flex-grow: 1;
}
