mat-form-field {
  display: flex;
  flex-direction: column;
}

.question-extras {
  display: flex;
}

.question-options {
  background-color: #cdd9f6;
  width: 30%;
}
.question-answers {
  margin-left: 15px;
  //background-color: #ab8878;
  flex-grow: 1;
  text-align: center;
}
.answer-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.bottom-actions {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
