@import "~@angular/material/theming";
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
}

.card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  @include mat-elevation(10);
}

mat-card-title {
  text-align: center;
}
