<div class="wrap">
  <mat-card class="card">
    <mat-card-title>{{ "USERS.title.manage" | translate }}</mat-card-title>
    <mat-card-content>
      <table mat-table matSort [dataSource]="users" width="100%">
        <!-- Name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "USERS.column.name" | translate }}
          </th>
          <td mat-cell *matCellDef="let user">
            <!-- If the user being edited is this one => false -->
            <ng-container *ngIf="
                !editingUser || editingUser._id !== user._id;
                then nameNotEditing;
                else nameEditing
              ">
            </ng-container>

            <ng-template #nameNotEditing>
              <p class="text-truncate">{{ user.name }}</p>
            </ng-template>
            <ng-template #nameEditing>
              <mat-form-field>
                <input matInput placeholder="{{ 'USERS.column.name' | translate }}" [(ngModel)]="editingUser.name" />
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "USERS.column.email" | translate }}
          </th>
          <td mat-cell *matCellDef="let user">
            <ng-container *ngIf="
                !editingUser || editingUser._id !== user._id;
                then emailNotEditing;
                else emailEditing
              ">
            </ng-container>

            <ng-template #emailNotEditing>
              <p class="text-truncate">{{ user.email }}</p>
            </ng-template>
            <ng-template #emailEditing>
              <mat-form-field>
                <input matInput placeholder="{{ 'USERS.column.email' | translate }}" [(ngModel)]="editingUser.email" />
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <!-- Role -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "USERS.column.role" | translate }}
          </th>
          <td mat-cell *matCellDef="let user">
            <ng-container *ngIf="
                !editingUser || editingUser._id !== user._id;
                then roleNotEditing;
                else roleEditing
              ">
            </ng-container>

            <ng-template #roleNotEditing>
              <p class="text-truncate">
                {{ "USERS.roles." + [user.role] | translate }}
              </p>
            </ng-template>
            <ng-template #roleEditing>
              <mat-form-field>
                <mat-label>{{ "USERS.column.role" | translate }}</mat-label>
                <mat-select [(ngModel)]="editingUser.role">
                  <mat-option value="colaborator">{{
                    "USERS.roles.colaborator" | translate
                    }}</mat-option>
                  <mat-option value="researcher">{{
                    "USERS.roles.researcher" | translate
                    }}</mat-option>
                  <mat-option value="admin">{{
                    "USERS.roles.admin" | translate
                    }}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <ng-container *ngIf="
                !editingUser || editingUser._id !== user._id;
                then actionNotEditing;
                else actionEditing
              ">
            </ng-container>
            <ng-template #actionNotEditing>
              <button mat-icon-button matTooltip="{{ 'USERS.tooltip.edit' | translate }}" color="primary"
                (click)="startEditingUser(user)" [disabled]="editingUser">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="{{ 'USERS.tooltip.delete' | translate }}" color="primary"
                (click)="deleteUser(user._id)" [disabled]="editingUser">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
            <ng-template #actionEditing>
              <button mat-raised-button color="warn" (click)="cancelEditing()">
                {{ "USERS.button.cancel" | translate }}
              </button>
              <button mat-raised-button color="primary" (click)="updateUser()">
                {{ "USERS.button.update" | translate }}
              </button>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <mat-card-title style="margin-top: 60px;">{{ "USERS.title.create" | translate }}</mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-form-field><input matInput placeholder="{{ 'USERS.input.name' | translate }}" [(ngModel)]="newUser.name" />
        </mat-form-field>
        <mat-form-field><input matInput placeholder="{{ 'USERS.input.email' | translate }}" [(ngModel)]="newUser.email"
            type="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="newUser.role" placeholder="{{ 'USERS.input.role' | translate }}">
            <mat-option value="colaborator">{{
              "USERS.roles.colaborator" | translate
              }}</mat-option>
            <mat-option value="researcher">{{
              "USERS.roles.researcher" | translate
              }}</mat-option>
            <mat-option value="admin">{{
              "USERS.roles.admin" | translate
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field><input matInput placeholder="{{ 'USERS.input.password' | translate }}"
            [(ngModel)]="newUser.password" type="password" />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="create-button-actions">
      <button mat-raised-button color="primary" (click)="createUser()" [disabled]="editingUser">
        {{ "USERS.button.create" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
