@import "~@angular/material/theming";

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  width: 100%;
}

.card {
  min-width: 50%;
  max-width: 75%;
  @include mat-elevation(10);
}

mat-card-title {
  text-align: center;
}

.create-button-actions {
  display: flex;
  justify-content: center;
}
